



    <md-content  layout="column" flex>

        <div ng-switch="view" >
            <div ng-switch-when="filters" >

                <md-card >
                <md-content layout-padding class="md-padding">
                    <div>
                        <span class="heading">PEDIATRIC CARE FILTERS</span>
                        <form name="adultCareForm">






                            <div layout-gt-sm="row">

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Category</label>
                                    <md-select ng-model="category">
                                        <md-option value="Allergy">
                                            Allergy
                                        </md-option>
                                        <md-option value="Derm">
                                            Derm
                                        </md-option>
                                        <md-option value="Endocrine">
                                            Endocrine
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Document Type</label>
                                    <md-select ng-model="documentType">
                                        <md-option value="Guidelines">
                                            Guidelines
                                        </md-option>
                                        <md-option value="Member Education">
                                            Member Education
                                        </md-option>
                                        <md-option value="External References">
                                            External References
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Sub Document Type</label>
                                    <md-select ng-model="documentType">
                                        <md-option value="Clinical">
                                            Clinical
                                        </md-option>
                                        <md-option value="Nursing">
                                            Nursing
                                        </md-option>
                                        <md-option value="Ordering Sets">
                                            Ordering Sets
                                        </md-option>
                                    </md-select>
                                </md-input-container>

                            </div>

                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Sub Category1</label>
                                    <md-select ng-model="documentType">
                                        <md-option value="Pregnancy">
                                            Pregnancy
                                        </md-option>
                                        <md-option value="Advice">
                                            Advice
                                        </md-option>
                                        <md-option value="Asthma">
                                            Asthma
                                        </md-option>
                                    </md-select>
                                </md-input-container>

                            </div>

                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Sub Category2</label>
                                    <md-select ng-model="documentType">
                                        <md-option value="Complications">
                                            Complications
                                        </md-option>
                                        <md-option value="Labor and Delivery">
                                            Labor and Delivery
                                        </md-option>
                                        <md-option value="Substance Abuse">
                                            Substance Abuse
                                        </md-option>
                                    </md-select>
                                </md-input-container>

                            </div>

                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Sub Category3</label>
                                    <md-select ng-model="documentType">
                                        <md-option value="Gestational Diabetes">
                                            Gestational Diabetes
                                        </md-option>
                                        <md-option value="Peripartum (Postpartum) Depression">
                                            Peripartum (Postpartum) Depression
                                        </md-option>
                                        <md-option value="Spontaneous Abortion - Ectopic Pregnancy">
                                            Spontaneous Abortion - Ectopic Pregnancy
                                        </md-option>
                                    </md-select>
                                </md-input-container>

                            </div>

                            <div layout="row">
                            <div>
                                <md-button class="md-raised md-primary" ng-click="search()" type="submit" style=" background-color: rgb(16,108,200);">Submit</md-button>
                            </div>

                            <div>
                                <md-button class="md-raised md-secondary" ng-click="search()" type="reset" >Clear</md-button>
                            </div>
                            </div>

                        </form>
                    </div>
                </md-content>
                </md-card>
            </div>
            <div ng-switch-when="content">
                <md-list >

                    <div  layout="row" >
                        <md-button class="md-secondary md-raised" ng-click="back()" style="margin-top:0px;height:16px"  >
                            <md-icon  ng-bind="'filter_list'"></md-icon> Filters
                        </md-button> <span  class="heading" style="padding-top:5px;padding-left:5px;font-weight:500" hide-xs>PEDIATRIC CARE &nbsp; > &nbsp; ALLERGY &nbsp;>&nbsp; GUIDELINES &nbsp;>&nbsp; CLINICAL </span>

                        <md-tabs  flex md-selected="2">

                            <md-tab label="All Regions"></md-tab>
                            <md-tab label="NCAL"></md-tab>
                        </md-tabs>


                    </div>

                    <!-- <md-subheader class="heading">
                     </md-subheader>-->

                    <md-divider ></md-divider>
                    <md-list-item ng-repeat="item in items" class="md-2-line">

                        <div class="md-list-item-text" class="md-padding" layout="column">
                            <p><a href="#"><b>{{item.productName}}</b></a></p>
                            <p>{{item.productDesc}}</p>


                        </div>
                        <md-divider ></md-divider>
                    </md-list-item></md-list>
            </div>
        </div>
      </md-content>




